<form class="form-horizontal" method="POST" name="saveQAS" angular-validator-submit="vm.saveQAS()"
      novalidate angular-validator
      ng-if="!vm.hasQAS || vm.mustShowQAEdit">
    <div class="col-md-12">
        <div class="form-group row clearfix">
            <label class="col-sm-2">{{ 'QUALITY_SYSTEM_SERVICE' | translate }}</label>
            <div class="col-sm-2">
                <select class="form-control" name="quality" ng-model="vm.qaServer.systemIid"
                        required
                        validate-on="dirty"
                        validator="vm.qaServer.systemIid != 0"
                        required-message="'{{ 'REQUIRED_SELECT' | translate }}'"
                        invalid-message="'{{ 'REQUIRED_SELECT' | translate }}'"
                        ng-options="i.id as (i.name) for i in vm.qaServers">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group row clearfix">
            <label class="col-sm-2">{{ 'PUBLIC_PRIVATE' | translate }}</label>
            <div class="col-sm-2">
                <select class="form-control" name="publicprivate" ng-model="vm.qaServer.type"
                        selectpicker
                        required
                        validate-on="dirty"
                        validator="vm.qaServer.type != 0"
                        required-message="'{{ 'REQUIRED_SELECT' | translate }}'"
                        invalid-message="'{{ 'REQUIRED_SELECT' | translate }}'"
                        ng-options="i.id as (i.name) for i in vm.typeOptions">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group row clearfix">
            <label for="inputURL" class="col-sm-2">URL</label>
            <div class="col-sm-4">
                <input type="text" name="url" class="form-control" ng-model="vm.qaServer.url"
                       id="inputURL" placeholder="" value=""
                       validate-on="dirty"
                       validator="vm.urlValidator(vm.qaServer.url) === true"
                       invalid-message="vm.urlValidator(vm.qaServer.url)">
            </div>
        </div>
        <div class="form-group row clearfix">
            <label for="requiresAuthentication" class="col-sm-2">{{ 'AUTH_REQUIRED_TITLE' | translate }}</label>
            <div class="col-sm-2">
                <input type="checkbox"
                       positivetext="{{ 'YES_TEXT' | translate }}"
                       offtext="{{ 'NO_TEXT' | translate }}"
                       first="{{vm.qaServer.boRequiresAuthentication}}"
                       id="requiresAuthentication"
                       name="requiresAuthentication"
                       ng-model="vm.qaServer.boRequiresAuthentication"
                       bootstrap-switch />
            </div>
        </div>
        <div class="form-group row clearfix" ng-show="vm.qaServer.boRequiresAuthentication">
            <label for="inputUserName" class="col-sm-2">{{ 'USERNAME_TITLE' | translate }}</label>
            <div class="col-sm-2">
                <input type="text" name="username" class="form-control" ng-model="vm.qaServer.username"
                       id="inputUserName" placeholder="" value=""
                       validate-on="dirty"
                       validator = "vm.userNameValidator(vm.qaServer.boRequiresAuthentication, vm.qaServer.username) === true"
                       required-message="'{{ 'REQUIRED_SELECT' | translate }}'"
                       invalid-message="'{{ 'REQUIRED_SELECT' | translate }}'">
            </div>
        </div>
        <div class="form-group row clearfix" ng-show="vm.qaServer.boRequiresAuthentication">
            <label for="inputPassword" class="col-sm-2">{{ 'PASSWORD_TITLE' | translate }}</label>
            <div class="col-sm-2">
                <input type="password" name="password" class="form-control" ng-model="vm.qaServer.password"
                       id="inputPassword" placeholder="" value=""
                       validate-on="dirty"
                       validator = "vm.passwordValidator(vm.qaServer.boRequiresAuthentication, vm.qaServer.password) === true"
                       required-message="'{{ 'REQUIRED_SELECT' | translate }}'"
                       invalid-message="'{{ 'REQUIRED_SELECT' | translate }}'">
            </div>
        </div>
        <div class="form-group row clearfix" >
            <br>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-with-icon" ng-show="!vm.mustShowQAEdit" ng-disabled="vm.showLoader">
                    <i class="ion-android-checkmark-circle"></i>{{ 'ADD_SERVER' | translate }}
                </button>
                <button type="submit" class="btn btn-primary btn-with-icon" ng-show="vm.mustShowQAEdit" ng-disabled="vm.showLoader">
                    <i class="ion-android-checkmark-circle"></i>{{ 'UPDATE_SERVER' | translate }}
                </button>
            </div>
            <div class="col-sm-2">
                <button name="cancel" type="button" class="btn btn-with-icon" ng-click="vm.cancelQAEdit()" ng-show="vm.mustShowQAEdit">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col-sm-2">
                <div class="loader" ng-show="vm.showLoader"></div>
            </div>
        </div>
    </div>
</form>