<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar ng-show="hasLeaves"></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">
            <content-top></content-top>
            <div ba-panel ba-panel-class="profile-page">
                <div class="panel-content">

                    <h3 class="with-line">{{ 'QUALITY_SYSTEM_CONFIG_TITLE' | translate }}</h3>
                    <div class="row" ng-if="vm.hasQAS">
                        <div class="col-lg-6 col-md-12">
                            <div include-with-scope="app/settings/servers/tables/QAserver.instance.table.html"></div>
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-if="vm.renderQAServerForm">
                        <div include-with-scope="app/settings/servers/template/editQAServer.html"></div>
                    </div>
                </div>
            </div>
            <div ba-panel ba-panel-class="profile-page">
                <div class="panel-content">

                    <h3 class="with-line">{{ 'CI_SYSTEM_CONFIG_TITLE' | translate }}</h3>
                    <div class="row" ng-if="vm.hasCIS">
                        <div class="col-lg-8 col-md-12">
                            <div include-with-scope="app/settings/servers/tables/CIserver.instance.table.html"></div>
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-if="vm.renderCIServerForm">
                        <div include-with-scope="app/settings/servers/template/editCIServer.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



