<div class="horizontal-scroll" ng-if="vm.listHasComponents">
    <div class="col-lg-12">
        <div class="row">
            <table class="table" st-table="vm.componentsList">
                <thead>
                <tr class="sortable">
                    <th class="align-left" st-sort="name" st-sort-default="true">{{ 'NAME_TITLE' | translate }}</th>
                    <th class="align-left" st-sort="type" st-sort-default="false" ng-if="vm.showTypes">{{ 'TYPE_TITLE' | translate }}</th>
                    <th class="align-left" st-sort="code" st-sort-default="false" ng-if="vm.showCodes">{{ 'CODE_TITLE' | translate }}</th>
                    <th class="align-left" ng-if="vm.showCodeHealth">{{ 'CODE_HEALTH_TITLE' | translate }}</th>
                    <th class="align-left" ng-if="vm.showReliability">{{ 'RELIABILITY_TITLE' | translate }}</th>
                    <th class="align-left" ng-if="vm.showEfficiencyPotential">{{ 'EFFICIENCY_POTENTIAL_TITLE' | translate }}</th>
                    <th class="align-left" ng-if="vm.allowEdit">{{ 'EDIT_TITLE' | translate }}</th>
                    <th class="align-left" ng-if="vm.allowDelete">{{ 'DELETE_TITLE' | translate }}</th>
                    <th class="align-left" ng-if="vm.allowViewMore">{{ 'VIEW_MORE_TITLE' | translate }}</th>
                </tr>
                <tr>
                    <th>
                        <div class="col-sm-10">
                            <input st-search="" name="filter-name" placeholder="Search"
                                   class="input-sm form-control search-input" type="search"/>
                        </div>
                    </th>
                    <th ng-if="vm.showTypes"></th>
                    <th ng-if="vm.showCodes"></th>
                    <th ng-if="vm.showCodeHealth"></th>
                    <th ng-if="vm.showReliability"></th>
                    <th ng-if="vm.showEfficiencyPotential"></th>
                    <th ng-if="vm.allowEdit"></th>
                    <th ng-if="vm.allowDelete"></th>
                    <th ng-if="vm.allowViewMore">
                </tr>
                </thead>
                <tbody ng-if="vm.listHasComponents">
                <tr ng-repeat="item in vm.componentsList">
                    <td class="align-left">{{item.name}}</td>
                    <td class="align-left" ng-if="vm.showTypes">{{item.tag_name}}</td>
                    <td class="align-left" ng-if="vm.showCodes">{{item.code_name}}</td>
                    <td class="align-center" ng-if="vm.showCodeHealth">{{item.codeHealth.value}}</td>
                    <td class="align-center" ng-if="vm.showReliability">{{item.reliability.value}}</td>
                    <td class="align-center" ng-if="vm.showEfficiencyPotential">{{item.efficiencyPotential.value}}</td>
                    <td class="align-center" style="color:green;font-size: 20px" ng-if="vm.allowEdit"><a class="profile-toggle-link"
                        ng-click="editComponentFunction({component : item})"><i class="ion-edit"></i></a></td>
                    <td class="align-center" style="color:green;font-size: 20px" ng-if="vm.allowEdit"><a class="profile-toggle-link"
                        ng-click="deleteComponentFunction({component : item})"><i class="ion-trash-b"></i></a></td></td>
                    <td class="align-center" style="color:green;font-size: 20px" ng-if="vm.allowViewMore"><a class="profile-toggle-link"
                        ng-click="viewMoreFunction({component : item})"><i class="ion-more"></i></a></td></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8" class="text-center">
                        <div st-pagination="" st-items-by-page="vm.smartAllComponentsPageSize"
                             st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <br>
        <div class="col-sm-2">
            <div class="row">
                <label>{{ 'ROWS_ON_PAGE' | translate }}</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <select class="form-control" name="pagination" ng-model="vm.smartAllComponentsPageSize"
                        ng-options="i.id as (i.name) for i in vm.paginationArray">
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-2" ng-if="vm.allowAdd">
        <br>
        <button name="addUser" class="btn btn-sm btn-default" ng-click="addComponentFunction()">{{ 'ADD_NEW_COMPONENT' | translate }}</button>
    </div>
</div>