<div class="horizontal-scroll">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="align-center">{{ 'NAME_TITLE' | translate }}</th>
      <th class="align-center">{{ 'EMAIL_TITLE' | translate }}</th>
      <th class="align-center">{{ 'EDIT_TITLE' | translate }}</th>
      <th class="align-center">{{ 'DELETE_TITLE' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.serverInstances">
      <td>{{item.username}}</td>
      <td class="align-right">{{item.email}}</td>
      <td class="align-center" style="color:green;font-size: 20px"><a class="profile-toggle-link" ng-click="vm.showEdit()"><i class="ion-edit"></i></a></td>
      <td class="align-right"></td>
    </tr>
    </tbody>
  </table>
</div>