<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>
    <spinner name="appSpinner" show="true">
        <div class="container-overlay"></div>
        <div class="container-spinner">
            <div class="container-bounce1"></div>
            <div class="container-bounce2"></div>
            <div class="container-please-wait">Cargando...</div>
        </div>

    </spinner>
    <div class="al-main">
        <div class="al-content">
            <content-top></content-top>
            <div ng-repeat="application in vm.applications">
                <div class="col-lg-4 col-md-12 col-sm-12"
                     ba-panel
                     ba-panel-title="{{ 'APP_INDICATORS' | translate }}"
                     ba-panel-title-ext="{{application.name}}"
                     ba-panel-class="medium-panel">

                    <gauge-chart data="{{application.data}}"
                                 chartid="{{application.chartId}}"
                                 loading="{{ 'LOADING' | translate }}"
                                 error="{{application.error}}">
                    </gauge-chart>
                    <span class="error-dashboard" ng-show="application.error">{{ 'INSPECTION_SERVER_ERROR' | translate }}</span>
                </div>
            </div>

        </div>
    </div>

    <back-top></back-top>
</main>

