<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>
    <spinner name="appSpinner" show="true">
        <div class="container-overlay"></div>
        <div class="container-spinner">
            <div class="container-bounce1"></div>
            <div class="container-bounce2"></div>
            <div class="container-please-wait">Cargando...</div>
        </div>

    </spinner>
    <div class="al-main">
        <div class="al-content" ng-if="!vm.viewComponentDashboard">
            <content-top></content-top>
            <top-components components="{{ vm.applications }}"
                            title="{{ 'SOFTWARE_MATURITY_TITLE' | translate }}"
                            number-of-items="3"></top-components>
            <top-components components="{{ vm.applicationsForCI }}"
                            title="{{ 'PROCESS_MATURITY_TITLE' | translate }}"
                            number-of-items="10"
                            chart-name="ci"
                            ng-if="vm.hasCIS"></top-components>
            <div class="col-lg-8 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-class="profile-page">
                <h3 class="with-line">{{ 'APPLICATION_TITLE' | translate }}</h3>
                <components-table components="{{ vm.allApplications }}"
                                  croot-id="{{ vm.croot.id }}"
                                  show-code-health="true"
                                  show-reliability="true"
                                  show-efficiency-potential="true"
                                  allow-view-more="true"
                                  view-more-function="vm.viewMore(component)"></components-table>
            </div>
        </div>
        <div class="al-content" ng-if="vm.viewComponentDashboard">
            <component-dashboard go-back-function="vm.backToList()"
                                 component="{{ vm.componentForDashboard }}"></component-dashboard>
        </div>
    </div>

    <back-top></back-top>
</main>

