<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <page-top></page-top>

    <div class="al-main">

            <div class="container-nothing">
                <div class="content-nothing">
                    <div class="title-nothing">Bienvenido</div>
                    <div class="quote-nothing">Quind se encuentra en proceso de configuración</div>
                </div>
            </div>

    </div>

    <back-top></back-top>
</main>
