<div class="ui top fixed menu">
    <div class="item">
        <img src="/images/logo.png">
    </div>
    <a class="item">{{ 'HOME' | translate }}</a>
    <div class="right menu">
        <a class="item" ng-click="changeLanguage('es')">{{ 'BUTTON_LANG_ES' | translate }}</a>
        <a class="item" ng-click="changeLanguage('en')">{{ 'BUTTON_LANG_EN' | translate }}</a>
        <a class="item" ui-sref="login">{{ 'LOGIN' | translate }}</a>
        <a class="item">{{ 'HELP' | translate }}</a>
    </div>
</div>
<p></p>
