<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar ng-show="hasLeaves"></ba-sidebar>
    <page-top></page-top>
    <div class="al-main">
        <div class="al-content">
            <content-top></content-top>
            <div ba-panel ba-panel-class="profile-page">
                <div class="panel-content">
                    <h3 class="with-line">{{ 'COMPONENTS_TITLE' | translate }}</h3>
                    <div class="row" ng-if="vm.hasQAS">
                        <div class="col-lg-6 col-md-12">
                            <div include-with-scope="app/settings/components/tables/component.instance.table.html"></div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <form class="form-horizontal" name="vm.form.componentRegistration" method="POST"
                              angular-validator-submit="vm.componentRegistration()" novalidate angular-validator>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-1">{{ 'COMPONENT_NAME' | translate }}</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="name" autocorrect="off" autocapitalize="none"
                                               class="form-control" placeholder="{{ 'COMPONENT_NAME' | translate }}"
                                               ng-model="vm.new_component.name"
                                               required
                                               validate-on="dirty"
                                               required-message="'{{ 'REQUIRED_FIELD' | translate }}'"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row clearfix">
                                    <label class="col-sm-1">{{ 'TYPE_TITLE' | translate }}</label>

                                    <div class="col-sm-4">
                                        <select class="form-control" name="component_tag"
                                                ng-model="vm.new_component.tag_id"
                                                selectpicker
                                                required
                                                validate-on="dirty"
                                                validator="vm.new_component.type != 0"
                                                required-message="'{{ 'REQUIRED_SELECT' | translate }}'"
                                                invalid-message="'{{ 'REQUIRED_SELECT' | translate }}'"
                                        >
                                            <option value="2">{{ 'SYSTEM' | translate }}</option>
                                            <option value="3">{{ 'APPLICATION' | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row clearfix" ng-if="vm.resourcesLoaded" ng-show="vm.new_component.tag_id == 3">
                                    <label class="col-sm-1">{{ 'CODE_TITLE' | translate }}</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="code" ng-model="vm.new_component.code"
                                                selectpicker
                                                validator="vm.componentCodeValidator(vm.new_component.code) === true"
                                                invalid-message="vm.componentCodeValidator(vm.new_component.code)"
                                                validate-on="dirty"
                                        >
                                            <option ng-repeat="item in vm.codes" value="{{item.key}}">
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" ng-if="vm.componentsLoaded" ng-show="vm.new_component.tag_id == 3">
                                <div class="col-sm-1">
                                    <div class="row">
                                        <label>{{ 'ASSIGN_COMPONENT_TITLE' | translate }}</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <table class="table" st-table="vm.components">
                                            <thead>
                                            <tr class="sortable">
                                                <th></th>
                                                <th class="table-id" st-sort="id" st-sort-default="true"></th>
                                                <th st-sort="name" st-sort-default="true">{{ 'NAME' | translate }}</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th><input st-search="" name="filter" placeholder="Search Name"
                                                           class="input-sm form-control search-input" type="search"/>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in vm.components track by item.id">
                                                <td><input name="component" type="radio" ng-value="item.id"
                                                           ng-model="vm.new_component.parent_id"/></td>
                                                <td class="table-id"><span class="hide">{{item.id}}</span></td>
                                                <td>{{item.name}}</td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="6" class="text-center">
                                                    <div st-pagination="" st-items-by-page="vm.smartTablePageSize"
                                                         st-displayed-pages="10"></div>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" ng-if="vm.componentsLoaded" ng-show="vm.new_component.tag_id == 3">
                                <br>
                                <div class="col-sm-1">
                                    <div class="row">
                                        <label>{{ 'ROWS_ON_PAGE' | translate }}</label>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="row">
                                        <select class="form-control" name="pagination" ng-model="vm.smartTablePageSize"
                                                ng-options="i.id as (i.name) for i in vm.paginationArray">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <br>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <button name="login" type="submit" class="btn btn-sm btn-default">{{
                                            'SUBMIT_NEW_COMPONENT' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>