<div class="horizontal-scroll">
  <div class="col-lg-12">
    <div class="row">
      <table class="table" st-table="vm.allComponents">
        <thead>
        <tr class="sortable">
          <th class="align-left" st-sort="name" st-sort-default="true">{{ 'NAME_TITLE' | translate }}</th>
          <th class="align-left" st-sort="type" st-sort-default="false">{{ 'TYPE_TITLE' | translate }}</th>
          <th class="align-left" st-sort="code" st-sort-default="false">{{ 'CODE_TITLE' | translate }}</th>
          <th class="align-left">{{ 'EDIT_TITLE' | translate }}</th>
          <th class="align-left">{{ 'DELETE_TITLE' | translate }}</th>
        </tr>
        <tr>
          <th>
            <div class="col-sm-10">
              <input st-search="" name="filter-name" placeholder="Search"
                     class="input-sm form-control search-input" type="search"/>
            </div>
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.allComponents track by item.id">
          <td class="align-left" >{{item.name}}</td>
          <td class="align-left" >{{item.tag_name}}</td>
          <td class="align-left" >{{item.code_name}}</td>
          <td class="align-center" style="color:green;font-size: 20px"><a class="profile-toggle-link"
                                                                          ng-click="vm.showEdit(item.id)"><i class="ion-edit"></i></a></td>
          <td class="align-center" style="color:green;font-size: 20px"><a class="profile-toggle-link"
                                                                          ng-click="vm.deleteComponent(item.id)"><i class="ion-trash-b"></i></a></td></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8" class="text-center">
            <div st-pagination="" st-items-by-page="vm.smartTablePageSize"
                 st-displayed-pages="10"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <br>
    <div class="col-sm-2">
      <div class="row">
        <label>{{ 'ROWS_ON_PAGE' | translate }}</label>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="row">
        <select class="form-control" name="pagination" ng-model="vm.smartTablePageSize"
                ng-options="i.id as (i.name) for i in vm.paginationArray">
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <br>
    <button name="addUser" class="btn btn-sm btn-default" ng-click="vm.showAddComponent()">{{ 'ADD_NEW_COMPONENT' | translate }}</button>
  </div>
</div>