<div class="middle-page">

    <div class="ui grid">
        <div class="column">
            <form class="form-horizontal" name="reset" method="POST" angular-validator-submit="vm.resetPassword()" novalidate angular-validator>
                <div class="ui segment">
                    <h2 class="ui teal header" ng-show="!vm.success">{{ 'NEW_PASSWORD' | translate }}</h2>

                    <div class="ui positive message" ng-show="vm.success">
                        <p>{{ 'NEW_PASSWORD_SUCCESS' | translate }}</p>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input type="email" name="email" autocorrect="off" autocapitalize="none" class="form-control" placeholder="{{ 'EMAIL_TITLE' | translate }}"
                                   ng-model="vm.credential.email"
                                   required
                                   validate-on="dirty"
                                   invalid-message = "'{{ 'EMAIL_FORMAT' | translate }}'"
                                   required-message = "'{{ 'EMAIL_REQUIRED' | translate }}'"
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input type="password" name="password" class="form-control" placeholder="{{ 'PASS_TITLE' | translate }}"
                                   ng-model="vm.credential.password" 
                                   required
                                   validate-on="dirty"
                                   required-message = "'{{ 'REQUIRED_FIELD' | translate }}'"
                                   />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input type="password" name="password_confirmation" class="form-control" placeholder="{{ 'PASS_CONFIRM_TITLE' | translate }}" 
                                   ng-model="vm.credential.password_confirmation"
                                   required
                                   validator = "vm.credential.password === vm.credential.password_confirmation"
                                   validate-on="dirty"
                                   required-message = "'{{ 'REQUIRED_FIELD' | translate }}'"
                                   invalid-message = "'{{ 'PASS_CONFIRM_NOMATCH' | translate }}'"
                                   />
                        </div>
                    </div>
                    
                    <input type="hidden" name="token" ng-model="vm.credential.token"/>
                    
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <button name="login" type="submit" class="btn btn-sm btn-default">{{ 'SUBMIT_UPDATE_PASS' |
                                translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>