<div class="middle-page">

	<div class="ui grid">
		<div class="column">
			<form class="ui large form" method="POST" angular-validator-submit="vm.sendEmail()" novalidate angular-validator>
				<div class="ui segment">
					<h2 class="ui teal header">{{ 'RESET_TITLE' | translate }}</h2>
                                        
					<div class="ui positive message" ng-show="vm.success">
						<p>{{ 'EMAIL_SENT' | translate }}</p>
					</div>
					<br>
                                        
                                        <div class="form-group row">
                                            <div class="col-xs-12">
                                                <input type="email" name="email" autocorrect="off" autocapitalize="none" class="form-control" placeholder="{{ 'EMAIL_TITLE' | translate }}" 
                                                           ng-model="vm.credential.email" 
                                                           required 
                                                           validate-on="dirty"
                                                           invalid-message = "'{{ 'EMAIL_FORMAT' | translate }}'"
                                                           required-message = "'{{ 'EMAIL_REQUIRED' | translate }}'"
                                                           />
                                            </div>
                                        </div>
                                        
					<div class="form-group row">
                                            <div class="col-sm-12">
						<button name="login" type="submit" class="btn btn-sm btn-default">{{ 'SUBMIT_RESET_EMAIL' | translate }}</button>
                                            </div>
					</div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <a ui-sref="login" >{{ 'LOGIN' | translate }}</a>
                                            </div>
                                        </div>
				</div>
			</form>

		</div>
	</div>

</div>
