<div class="middle-page">

    <div class="ui grid">
        <div class="column">
            <form class="ui large form" method="POST" ng-submit="vm.resetPassword()">
                <div class="ui segment">
                    <h2 class="ui teal header">{{ 'NEW_PASSWORD_SUCCESS' | translate }}</h2>
                    <div class="ui positive message" ng-show="vm.success">
                        <p>{{ 'EMAIL_SENT' | translate }}</p>
                    </div>
                    <br>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="{{ 'EMAIL_TITLE' | translate }}" ng-model="vm.credential.email" required />
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="{{ 'PASS_TITLE' | translate }}"
                                   ng-model="vm.credential.password" required/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password_confirmation"
                                   placeholder="{{ 'PASS_TITLE' | translate }}" ng-model="vm.credential.password_confirmation"
                                   required/>
                        </div>
                    </div>
                    <input type="hidden" name="token" ng-model="vm.credential.token"/>
                    <div class="inline field">
                        <button name="login" type="submit" class="btn btn-sm btn-default">{{ 'SUBMIT_RESET_EMAIL' |
                            translate }}
                        </button>
                    </div>
                </div>
                <div class="ui error message"></div>
            </form>

        </div>
    </div>

</div>