<div class="middle-page">

	<div class="ui grid">
		<div class="column">
			<form class="ui large form" method="POST" ng-submit="vm.sendEmail()">
				<div class="ui segment">
					<h2 class="ui teal header">{{ 'RESET_TITLE' | translate }}</h2>
					<div class="ui positive message" ng-show="vm.success">
						<p>{{ 'EMAIL_SENT' | translate }}</p>
					</div>
					<br>
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" name="email" placeholder="{{ 'EMAIL_TITLE' | translate }}" ng-model="vm.credential.email" required />
						</div>
					</div>
					<div class="inline field">
						<button name="login" type="submit" class="btn btn-sm btn-default">{{ 'SUBMIT_RESET_EMAIL' | translate }}</button>
					</div>
				</div>
				<div class="ui error message"></div>
			</form>

		</div>
	</div>

</div>
