<div class="middle-page">

	<div class="ui grid">
		<div class="column">
			<h3>{{ 'REGISTRATION_PAGE_TITLE' | translate }}</h3>
			<form class="ui large form" method="POST" ng-submit="vm.registration()">
				<div class="ui segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" name="name" autocorrect="off" placeholder="{{ 'NAME_TITLE' | translate }}" ng-model="vm.user.name" required />
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="mail icon"></i>
							<input type="email" name="email" autocorrect="off" autocapitalize="none" placeholder="{{ 'EMAIL_TITLE' | translate }}" ng-model="vm.user.email" required />
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" name="password" placeholder="{{ 'PASS_TITLE' | translate }}" ng-model="vm.user.password" required />
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="industry icon"></i>
							<input type="text" name="name" autocorrect="off" placeholder="{{ 'COMPANY_TITLE' | translate }}" ng-model="vm.user.company" required />
						</div>
					</div>
					<div class="inline field">
						<button name="login" type="submit" class="btn btn-sm btn-default">{{ 'SUBMIT_NEW_ACCOUNT' | translate }}</button>
					</div>
				</div>

				<div class="ui error message"></div>

			</form>

		</div>
	</div>

</div>
