.pie-charts {
  color: $default-text;

  .pie-chart-item-container {
    position: relative;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;

    .panel {
      height: 300px;
    }
  }
  @media screen and (min-width: 1325px) {
    .pie-chart-item-container {
      width: 100%;
    }

    .description {
      display: inline-block;
      font-size: 30px;
      line-height: 30px;
      opacity: 0.9;
      padding: 10px 0 0 150px;
    }

    .chart{
      left: 50px;
      top: 20px;
    }

  }
  @media screen and (min-width: 700px) and (max-width: 1325px) {
    .pie-chart-item-container {
      width: 100%;
    }

  }

  @media screen and (min-width: 700px) and (max-width: 1650px) {
    .chart canvas {
      position: absolute;
      top: 10%;
      left: 18%;
    }
  }

  @media screen and (max-width: 700px) {
    .pie-chart-item-container {
      width: 100%;
    }

    .description {
      display: inline-block;
      font-size: 30px;
      opacity: 0.9;
      padding: 20px 0 0 180px;
    }

    .chart canvas {
      position: absolute;
      top: 10%;
      left: 0;
    }

  }

  .pie-chart-item {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .chart-icon {
      position: absolute;
      right: 0px;
      top: 3px;
      z-index: -1;
    }
  }
  @media screen and(min-width: 1325px) and (max-width: 1650px),
  (min-width: 700px) and (max-width: 830px),
  (max-width: 400px) {
    .chart-icon {
      display: none;
    }
  }

  .chart {

    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .chart canvas {
    position: absolute;
  }
  /*.percent {
    display: inline-block;
    line-height: 84px;
    z-index: 2;
    font-size: 16px;
  }*/

  .percent {
    display: inline-block;
    position: absolute;
    font-size: 65px;
    line-height: 250%;
    z-index: 2;
    left: 32%;
    top: 20%;
  }

  .description-stats {
    padding-top: 8px;
    font-size: 24px;
  }

  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }

  .angular {
    margin-top: 100px;
  }
  .angular .chart {
    margin-top: 0;
  }
}