<div class="horizontal-scroll">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="align-center">{{ 'PHASE_NAME_TITLE' | translate }}</th>
            <!--th class="align-center">{{ 'JOBS_NUMBER_TITLE' | translate }}</th-->
            <th class="align-center">{{ 'EDIT_TITLE' | translate }}</th>
            <th class="align-center">{{ 'DELETE_TITLE' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.ciPhases">
            <td>{{item.name}}</td>
            <td class="align-center" style="color:green;font-size: 20px"><a class="profile-toggle-link" ng-click="vm.showEditCIPhase(item)"><i
                    class="ion-edit"></i></a></td>
            <td class="align-center" style="color:green;font-size: 20px"><a class="profile-toggle-link" ng-click="vm.deletePhase(item)"><i
                    class="ion-trash-b"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>