<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>
    <spinner name="systemsSpinner" show="true">
        <div class="container-overlay"></div>
        <div class="container-spinner">
            <div class="container-bounce1"></div>
            <div class="container-bounce2"></div>
            <div class="container-please-wait">Cargando...</div>
        </div>

    </spinner>
    <div class="al-main">
        <div class="al-content">
            <content-top></content-top>
            <div ng-repeat="system in vm.systems">
                <div class="col-lg-4 col-md-12 col-sm-12"
                     ba-panel
                     ba-panel-title="{{  system.indicatorName }}"
                     ba-panel-title-ext="{{system.name}}"
                     ba-panel-class="medium-panel">
                    <a href="">
                        <dashboard-pie-chart percent="{{system.percent}}" chartid="chartsis{{system.id}}"></dashboard-pie-chart>
                    </a>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12"
                     ba-panel
                     ba-panel-title="{{  system.indicatorName }} RUN CHART"
                     ba-panel-title-ext="{{system.name}}"
                     ba-panel-class="medium-panel">
                    <dashboard-line-chart linedata="{{system.linedata}}" lineid="seriessis{{system.id}}"></dashboard-line-chart>
                </div>
            </div>

        </div>
    </div>

    <back-top></back-top>
</main>

