<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>
    <spinner name="systemsSpinner" show="true">
        <div class="container-overlay"></div>
        <div class="container-spinner">
            <div class="container-bounce1"></div>
            <div class="container-bounce2"></div>
            <div class="container-please-wait">Cargando...</div>
        </div>

    </spinner>
    <div class="al-main">
        <div class="al-content" ng-if="!vm.viewComponentDashboard">
            <content-top></content-top>
            <div ng-repeat="system in vm.systems">

                <div class="col-lg-4 col-md-12 col-sm-12"
                     ba-panel
                     ba-panel-title="{{ 'SYSTEM_INDICATORS' | translate }}"
                     ba-panel-title-ext="{{system.name}}"
                     ba-panel-class="medium-panel">

                    <gauge-chart data="{{system.data}}"
                                 chartid="{{system.chartId}}"
                                 loading="{{ 'LOADING' | translate }}"
                                 error="{{system.error}}">
                    </gauge-chart>
                    <span class="error-dashboard" ng-show="system.error">{{ 'INSPECTION_SERVER_ERROR' | translate }}</span>
                </div>

                <div class="col-lg-8 col-md-12 col-sm-12"
                     ba-panel
                     ba-panel-title="{{ 'SYSTEM_RUN_CHART' | translate }}"
                     ba-panel-title-ext="{{system.name}}"
                     ba-panel-class="medium-panel">
                    <stock-multiple-chart ids="{{ system.ids}}"
                                          series="{{ system.series}}"
                                          labels="{{ system.labels}}"
                                          vars="{{ vm.vars}}"
                                          lang="{{ vm.lang}}"
                                          error="{{system.seriesError}}"
                                          loading="{{ 'LOADING' | translate }}"
                    >
                    </stock-multiple-chart>
                    <span class="error-dashboard" ng-show="system.seriesError">{{ 'INTERNAL_SERVER_ERROR' | translate }}"</span>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-class="profile-page">
                    <h3 class="with-line">{{ 'SYSTEMS_LOW_TITLE' | translate }}</h3>
                    <components-table components="{{ vm.allSystems }}"
                                      croot-id="{{ vm.croot.id }}"
                                      show-code-health="true"
                                      show-reliability="true"
                                      show-efficiency-potential="true"
                                      allow-view-more="true"
                                      view-more-function="vm.viewMore(component)"></components-table>
            </div>
        </div>
        <div class="al-content" ng-if="vm.viewComponentDashboard">
            <component-dashboard go-back-function="vm.backToList()"
                                 component="{{ vm.componentForDashboard }}"></component-dashboard>
        </div>
    </div>
    <back-top></back-top>
</main>

