.admin-chart {
  width: 100%;
  height: 300px;
  font-size: 11px;
}


#funnelChart, #lineChart {
}

#pieChart {
  max-width: 1120px;
}

.ct-area {
  fill-opacity: .5;
}

.ct-label{
  color: $default-text;
  opacity: 0.9;
  fill: $default-text;
}

.ct-chart .ct-label{
  font-size: 1em;
}

.ct-chart svg{
  width: 100%;
  display: block;
}

.ct-series-a {
  .ct-bar,  .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
    stroke: $primary;
  }
  .ct-slice-pie, .ct-area{
    fill: $primary;
  }
}

.ct-series-b {
  .ct-bar,  .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
    stroke: $success;
  }
  .ct-slice-pie, .ct-area{
    fill: $success;
  }
}

.ct-series-c {
  .ct-bar,  .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
    stroke: $danger;
  }
  .ct-slice-pie, .ct-area{
    fill: $danger;
  }
}

.ct-series-d {
  .ct-bar,  .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
    stroke: $warning;
  }
  .ct-slice-pie, .ct-area{
    fill: $warning;
  }

}

.ct-series-e {
  .ct-bar,  .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
    stroke: $info;
  }
  .ct-slice-pie, .ct-area{
    fill: $info;
  }
}

@media screen and (min-width: 992px) {
  .row.morris-up {
    > div {
      margin-top: -434px;
    }
  }
}

.area-morris-header{
  margin-top: 20px;
}

.stacked-bar .ct-bar{
  stroke-width: 30px;
}

.amChartsCompareList {
  border: 1px solid #CCCCCC;
}

.pie-chart-panel {
  padding: 0;
}

.chart-panel{
  height: 495px;
}

#filterChart {
  width		: 96%;
  font-size	: 11px;
  margin-left: auto;
  margin-right: auto;
  margin-top:15px;
}

.chartist h5 {
  font-weight: $font-normal;
}