<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{ 'CREATE_USER' | translate }}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="registration" method="POST" angular-validator-submit="vm.userRegistration()" novalidate angular-validator>

                <div class="form-group row">
                    <label class="col-sm-3">{{ 'NAME_TITLE' | translate }}</label>
                    <div class="col-xs-6">
                        <input type="text" name="name" autocorrect="off" autocapitalize="none" class="form-control" placeholder="{{ 'NAME_TITLE' | translate }}" 
                                   ng-model="vm.user.name" 
                                   required 
                                   validate-on="dirty"
                                   required-message = "'{{ 'REQUIRED_FIELD' | translate }}'"
                                   />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3">{{ 'EMAIL_TITLE' | translate }}</label>
                    <div class="col-sm-6">
                        <input type="email" name="email" autocorrect="off" autocapitalize="none" class="form-control" placeholder="{{ 'EMAIL_TITLE' | translate }}" 
                                   ng-model="vm.user.email" 
                                   required 
                                   validate-on="dirty"
                                   invalid-message = "'{{ 'EMAIL_FORMAT' | translate }}'"
                                   required-message = "'{{ 'REQUIRED_FIELD' | translate }}'"
                                   />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3">{{ 'PASS_TITLE' | translate }}</label>
                    <div class="col-sm-6">
                        <input type="password" name="password" class="form-control" placeholder="{{ 'PASS_TITLE' | translate }}" 
                               ng-model="vm.user.password"
                               validator = "vm.passwordValidator(vm.user.password) === true"
                               invalid-message = "vm.passwordValidator(vm.user.password)"
                               validate-on="dirty"
                               />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">{{ 'ROL_TITLE' | translate }}</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="role" ng-model="vm.user.role_id"
                                selectpicker
                                required 
                                validate-on="dirty"
                                validator = "vm.role.id != 0"
                                required-message = "'{{ 'REQUIRED_SELECT' | translate }}'"
                                invalid-message = "'{{ 'REQUIRED_SELECT' | translate }}'"
                            >
                            <option ng-repeat="role in vm.roles" value="{{role.id}}">{{role.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button name="login" type="submit" class="btn btn-sm btn-default">{{ 'SUBMIT_NEW_ACCOUNT' | translate }}</button>
                    </div>
                </div>
        </form>
    </div>
</div>