<section id="dashboard-view" class="mainbar">
    <div class="container middle-page">
        <div class="row jumbotron">
            <div class="col-md-offset-2 col-md-4">
                <h1>Oops! 404 Not Found</h1>
                <p class="lead">The page you requested could not be found.</p>
                <p><a href="/" class="btn btn-lg btn-success" href="#" role="button">Take me home</a></p>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <img src="images/404/404.png" style="float:right;"/>
            </div>

        </div>
    </div>
</section>
