<div class="modal-content">
    <div class="modal-header bg-warning">
        <i class="ion-android-warning modal-icon"></i><span> {{ 'WARNING_TITLE' | translate }}</span>
    </div>
    <div class="modal-body text-center">{{ deleteMessage() }}</div>
    <div class="modal-footer">
        <div class="col-sm-2">
            <button type="button" class="btn bg-success" ng-click="ok()">{{ 'YES_TEXT' | translate }}</button>
        </div>
        <div class="col-sm-8">
            &nbsp;
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn bg-danger" ng-click="cancel()">{{ 'NO_TEXT' | translate }}</button>
        </div>
    </div>
</div>